html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #B5CA8D;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #35524A;
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: #FA7921;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav-links li {
    list-style: none;
    position: relative;
}

.nav-links a {
    color: #FA7921;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.menu {
    display: none;
    cursor: pointer;
}
.menu div {
    width: 25px;
    height: 4px;
    background-color:#FA7921;
    margin: 4px;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #35524A;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }
    .nav-links li {
        opacity: 0;
    }
    .menu {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: translateY(8px) rotate(-45deg)
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: translateY(-8px) rotate(45deg)
}

.nav-links li a:before,
.nav-links li a:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FA7921;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

.nav-links li a:before{
    top: 0;
    transform-origin: left;
}
.nav-links li a:after{
    bottom: 0;
    transform-origin: right;
}

.nav-links li a:hover::before,
.nav-links li a:hover::after{
    transform: scaleX(1);
}

.text {
    display: flex;
    flex-grow: 1;
}

article {
    display: flex;
    justify-content: center;
}